params {
    input_fastq = null
    input_fasta = null
    db_path     = "${projectDir}/databases"
    outdir      = "results"
    threads     = 4
}

wave {
    enabled = true
}

profiles {
    docker {
        docker.enabled = true

        process {
            withName: 'ASSEMBLE_READS' {
                container = 'biocontainers/megahit:1.2.9_cv1'
            }
            withName: 'PATHWAY_PROFILING' {
                container = 'quay.io/hallamlab/metapathways'
            }
        }
    }

    conda {
        conda.enabled = true
        wave.enabled = false
    }
}
